In [2]:
import pandas as pd
import numpy as np

# train data process

In [157]:
# train_tmp_click_log = 'data/train_tmp/click_log.csv'
train_click_log_path = 'data/train_preliminary/click_log.csv'
train_click_log = pd.read_csv(train_click_log_path)

In [158]:
train_click_log.head(3)

   time  user_id  creative_id  click_times
0     9    30920       567330            1
1    65    30920      3072255            1
2    56    30920      2361327            1

In [159]:
train_click_log.dtypes

time           int64
user_id        int64
creative_id    int64
click_times    int64
dtype: object

In [160]:
train_click_log.time.unique().shape, train_click_log.user_id.unique().shape, train_click_log.creative_id.unique().shape, train_click_log.click_times.unique().shape

((91,), (900000,), (2481135,), (41,))

In [161]:
train_ad = pd.read_csv('data/train_preliminary/ad.csv')

In [162]:
train_ad.head(5)

   creative_id  ad_id product_id  product_category  advertiser_id industry
0            1      1         \N                 5            381       78
1            4      4         \N                 5            108      202
2            7      7         \N                 5            148      297
3            8      8         \N                 5            713      213
4            9      9         \N                 5            695      213

In [163]:
train_ad.dtypes

creative_id          int64
ad_id                int64
product_id          object
product_category     int64
advertiser_id        int64
industry            object
dtype: object

In [164]:
train_ad.product_id[train_ad.product_id=='\\N']='0'
train_ad.industry[train_ad.industry=='\\N']='0'

In [165]:
train_ad.product_id = train_ad.product_id.astype(int)
train_ad.industry = train_ad.industry.astype(int)

In [166]:
train_ad.dtypes

creative_id         int64
ad_id               int64
product_id          int64
product_category    int64
advertiser_id       int64
industry            int64
dtype: object

In [167]:
train_user = pd.read_csv('data/train_preliminary/user.csv')
train_user.head(2)

   user_id  age  gender
0        1    4       1
1        2   10       1

In [168]:
train_user.dtypes

user_id    int64
age        int64
gender     int64
dtype: object

## merge user.csv ad.csv to click_log.csv

In [169]:
train_clicklog_ad = pd.merge(train_click_log, train_ad, on='creative_id', how='left')
train_clicklog_ad.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,9,30920,567330,1,504423,30673,3,32638,319
1,65,30920,3072255,1,2642300,1261,2,6783,6
2,56,30920,2361327,1,2035918,1261,2,6783,6
3,6,309204,325532,1,292523,27081,3,32066,242
4,59,309204,2746730,1,2362208,0,18,14682,88

In [170]:
train_clicklog_ad_user = pd.merge(train_clicklog_ad, train_user, on='user_id', how='left')
train_clicklog_ad_user.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry,age,gender
0,9,30920,567330,1,504423,30673,3,32638,319,2,1
1,65,30920,3072255,1,2642300,1261,2,6783,6,2,1
2,56,30920,2361327,1,2035918,1261,2,6783,6,2,1
3,6,309204,325532,1,292523,27081,3,32066,242,6,1
4,59,309204,2746730,1,2362208,0,18,14682,88,6,1

In [171]:
train_clicklog_ad_user.dtypes

time                int64
user_id             int64
creative_id         int64
click_times         int64
ad_id               int64
product_id          int64
product_category    int64
advertiser_id       int64
industry            int64
age                 int64
gender              int64
dtype: object

## write to csv file

In [19]:
# train_clicklog_ad_user.to_csv('data/train_preliminary/clicklog_ad_user.csv',index=False)

# Test data process

In [144]:
# train_tmp_click_log = 'data/train_tmp/click_log.csv'
test_click_log_path = 'data/test/click_log.csv'
test_click_log = pd.read_csv(test_click_log_path)

In [145]:
test_click_log.time.unique().shape, test_click_log.user_id.unique().shape, test_click_log.creative_id.unique().shape, test_click_log.click_times.unique().shape

((91,), (1000000,), (2618159,), (93,))

In [146]:
test_click_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33585512 entries, 0 to 33585511
Data columns (total 4 columns):
time           int64
user_id        int64
creative_id    int64
click_times    int64
dtypes: int64(4)
memory usage: 1.0 GB

In [147]:
test_ad = pd.read_csv('data/train_preliminary/ad.csv')

In [148]:
test_ad.product_id[test_ad.product_id=='\\N']='0'
test_ad.industry[test_ad.industry=='\\N']='0'
test_ad.product_id = test_ad.product_id.astype(int)
test_ad.industry = test_ad.industry.astype(int)

In [149]:
test_ad.dtypes

creative_id         int64
ad_id               int64
product_id          int64
product_category    int64
advertiser_id       int64
industry            int64
dtype: object

In [150]:
test_ad.head()

   creative_id  ad_id  product_id  product_category  advertiser_id  industry
0            1      1           0                 5            381        78
1            4      4           0                 5            108       202
2            7      7           0                 5            148       297
3            8      8           0                 5            713       213
4            9      9           0                 5            695       213

## 在click_log.csv中有20多万的creative_id没有在ad.csv出现,使用inner方式保留两个表的公共creative_id的行

In [151]:
# test_clicklog_ad = pd.merge(test_click_log, test_ad, on='creative_id', how='left')
# test_click_ad_dropna = test_clicklog_ad.dropna()
test_clicklog_ad = pd.merge(test_click_log, test_ad, on='creative_id', how='inner')
test_clicklog_ad.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,20,3131989,645764,1,573314,58,2,14689,6
1,10,3142948,645764,1,573314,58,2,14689,6
2,14,3170643,645764,1,573314,58,2,14689,6
3,10,3194257,645764,1,573314,58,2,14689,6
4,21,3222925,645764,1,573314,58,2,14689,6

In [152]:
# 类型转换为int
# test_clicklog_ad_drop_userid.ad_id = test_clicklog_ad_drop_userid.product_id.astype(int)
# test_clicklog_ad_drop_userid.product_id = test_clicklog_ad_drop_userid.product_id.astype(int)
# test_clicklog_ad_drop_userid.product_category = test_clicklog_ad_drop_userid.product_id.astype(int)
# test_clicklog_ad_drop_userid.advertiser_id = test_clicklog_ad_drop_userid.product_id.astype(int)
# test_clicklog_ad_drop_userid.industry = test_clicklog_ad_drop_userid.product_id.astype(int)

In [153]:
test_clicklog_ad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32310439 entries, 0 to 32310438
Data columns (total 9 columns):
time                int64
user_id             int64
creative_id         int64
click_times         int64
ad_id               int64
product_id          int64
product_category    int64
advertiser_id       int64
industry            int64
dtypes: int64(9)
memory usage: 2.4 GB

In [154]:
test_clicklog_ad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32310439 entries, 0 to 32310438
Data columns (total 9 columns):
time                int64
user_id             int64
creative_id         int64
click_times         int64
ad_id               int64
product_id          int64
product_category    int64
advertiser_id       int64
industry            int64
dtypes: int64(9)
memory usage: 2.4 GB

In [155]:

test_clicklog_ad.to_csv('data/test/clicklog_ad.csv', index=False)

In [141]:
# 删除重复user_id
# test_clicklog_ad_drop_userid = test_click_ad_dropna.drop_duplicates('user_id')

In [ ]:
# test_clicklog_ad_drop_userid.info()

In [ ]:
# test_clicklog_ad_drop_userid.to_csv('data/test/clicklog_ad.csv', index=False)

In [172]:
train_clicklog_ad_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30082771 entries, 0 to 30082770
Data columns (total 11 columns):
time                int64
user_id             int64
creative_id         int64
click_times         int64
ad_id               int64
product_id          int64
product_category    int64
advertiser_id       int64
industry            int64
age                 int64
gender              int64
dtypes: int64(11)
memory usage: 2.7 GB

In [173]:
train_clicklog_ad_user.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry,age,gender
0,9,30920,567330,1,504423,30673,3,32638,319,2,1
1,65,30920,3072255,1,2642300,1261,2,6783,6,2,1
2,56,30920,2361327,1,2035918,1261,2,6783,6,2,1
3,6,309204,325532,1,292523,27081,3,32066,242,6,1
4,59,309204,2746730,1,2362208,0,18,14682,88,6,1