In [1]:
import pandas as pd
import numpy as np

# train data process

In [2]:
# train_tmp_click_log = 'data/train_tmp/click_log.csv'
train_click_log_path = 'data/train_preliminary/click_log.csv'
train_click_log = pd.read_csv(train_click_log_path)

In [3]:
train_click_log.head(3)

   time  user_id  creative_id  click_times
0     9    30920       567330            1
1    65    30920      3072255            1
2    56    30920      2361327            1

In [4]:
train_click_log.dtypes

time           int64
user_id        int64
creative_id    int64
click_times    int64
dtype: object

In [5]:
train_click_log.time.unique().shape, train_click_log.user_id.unique().shape, train_click_log.creative_id.unique().shape, train_click_log.click_times.unique().shape

((91,), (900000,), (2481135,), (41,))

In [6]:
train_ad = pd.read_csv('data/train_preliminary/ad.csv')

In [7]:
train_ad.head(5)

   creative_id  ad_id product_id  product_category  advertiser_id industry
0            1      1         \N                 5            381       78
1            4      4         \N                 5            108      202
2            7      7         \N                 5            148      297
3            8      8         \N                 5            713      213
4            9      9         \N                 5            695      213

In [8]:
train_ad.dtypes

creative_id          int64
ad_id                int64
product_id          object
product_category     int64
advertiser_id        int64
industry            object
dtype: object

In [9]:
train_ad.product_id[train_ad.product_id=='\\N']='0'
train_ad.industry[train_ad.industry=='\\N']='0'

In [10]:
train_ad.product_id = train_ad.product_id.astype(int)
train_ad.industry = train_ad.industry.astype(int)

In [11]:
train_ad.dtypes

creative_id         int64
ad_id               int64
product_id          int64
product_category    int64
advertiser_id       int64
industry            int64
dtype: object

In [20]:
train_user = pd.read_csv('data/train_preliminary/user.csv')
train_user.head(2)

   user_id  age  gender
0        1    4       1
1        2   10       1

In [13]:
train_user.dtypes

user_id    int64
age        int64
gender     int64
dtype: object

In [15]:
train_ad.creative_id.unique().shape

(2481135,)

## merge user.csv ad.csv to click_log.csv

In [16]:
train_clicklog_ad = pd.merge(train_click_log, train_ad, on='creative_id', how='left')
train_clicklog_ad.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,9,30920,567330,1,504423,30673,3,32638,319
1,65,30920,3072255,1,2642300,1261,2,6783,6
2,56,30920,2361327,1,2035918,1261,2,6783,6
3,6,309204,325532,1,292523,27081,3,32066,242
4,59,309204,2746730,1,2362208,0,18,14682,88

In [17]:
train_clicklog_ad_user = pd.merge(train_clicklog_ad, train_user, on='user_id', how='left')
train_clicklog_ad_user.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry,age,gender
0,9,30920,567330,1,504423,30673,3,32638,319,2,1
1,65,30920,3072255,1,2642300,1261,2,6783,6,2,1
2,56,30920,2361327,1,2035918,1261,2,6783,6,2,1
3,6,309204,325532,1,292523,27081,3,32066,242,6,1
4,59,309204,2746730,1,2362208,0,18,14682,88,6,1

In [18]:
train_clicklog_ad_user.dtypes

time                int64
user_id             int64
creative_id         int64
click_times         int64
ad_id               int64
product_id          int64
product_category    int64
advertiser_id       int64
industry            int64
age                 int64
gender              int64
dtype: object

## write to csv file

In [19]:
train_clicklog_ad_user.to_csv('data/train_preliminary/clicklog_ad_user.csv',index=False)

# test data process

In [ ]:
train_tmp_click_log = 'data/train_tmp/click_log.csv'
# train_click_log_path = 'data/train_preliminary/click_log.csv'
train_click_log = pd.read_csv(train_click_log_path)